html
	head
		title INFORM
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet")
		script(src="https://use.fontawesome.com/937272718b.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		style(type='text/css')
			include ../public/headers.css
			include ../public/match.css
			include ../public/style.css
			include ../public/colors.css

	body
		div.imageBubble
			img.bubble1(src="images/bubbles/green-1.jpg")
			img.bubble2(src="images/bubbles/yellow-2.jpg")
			img.bubble3(src="images/bubbles/orange-3.jpg")
			img.bubble4(src="images/bubbles/red-4.jpg")
		div.info
			-for (var i = 0; i < ingredients.length; i++)
				div.title
					p.title(data-key=`${ingredients[i].ingredient}` id="ingredientKey") #{ingredients[i].ingredient}
				div.co2
					br
					p Average CO2 emission per kg #{ingredients[i].ingredient}
					p.inline #{ingredients[i].co2} kg
					p.hide(data-key=`${ingredients[i].category}` id="ingredientCat") #{ingredients[i].category}
					img.category1(src="images/icons/green-1.png")
					img.category2(src="images/icons/yellow-2.png")
					img.category3(src="images/icons/orange-3.png")
					img.category4(src="images/icons/red-4.png")

				div.road
					p Average driving equivalent
					p.inline(data-key=`${ingredients[i].kilometers}` id="ingredientKm") #{ingredients[i].kilometers} km
					img.category1(src="images/icons/road-1.png")
					img.category2(src="images/icons/road-2.png")
					img.category3(src="images/icons/road-3.png")
					img.category4(src="images/icons/road-4.png")
				p
		div.dummy
			p

		div.footer
			div.inform
				h2 INFORM
			form(class="search" action="/search" method="post")
				input(type="text" name="search" id="autocomplete" list="ingredients", placeholder="Eg. avocado or meat")
				datalist#ingredients
				input(type="submit" id="send" value="")
				a(href="http://localhost:3000" id="inspire")
					div.inspire
						h2 INSPIRE

	script.
		$(document).ready(function(){
			let searchCrit = document.getElementById("ingredientKey").dataset.key
			$("#inspire").attr("href", "http://95.85.60.195/match?searchCrit=" + searchCrit)
			let category = document.getElementById("ingredientCat").dataset.key
			console.log(category)
			if(category == 1){
				$('.bubble1').removeClass()
				$('.category1').removeClass()
				$('.title').addClass('color-green')
				$('.inform').addClass('color-green')
				$('.inspire').addClass('color-green')
			}
			else if(category == 2){
				$('.bubble2').removeClass()
				$('.category2').removeClass()
				$('.title').addClass('color-yellow')
				$('.inform').addClass('color-yellow')
				$('.inspire').addClass('color-yellow')
			}
			else if(category == 3){
				$('.bubble3').removeClass()
				$('.category3').removeClass()
				$('.title').addClass('color-orange')
				$('.inform').addClass('color-orange')
				$('.inspire').addClass('color-orange')
			}
			else if (category == 4){
				$('.bubble4').removeClass()
				$('.category4').removeClass()
				$('.title').addClass('color-red')
				$('.inform').addClass('color-red')
				$('.inspire').addClass('color-red')
			}
		})